$main-color: #FFF;
$button-color:#FFBC51;
$btn-color:#798AC9;
$title-color:#857885;
$accent-color:#5C0E62;
$subtitle-color:#E23434;
$item-color:#5C5E6E;
$paragraf-color:#756F6F;
$bg-color:#210933;
$span-color:#591567;
$border-color:rgba(171, 163, 163, 0.20);
$make-color:#F7F3FA;
$linear-color:#00B5D0;
$black-color:#000;
$box-color:#5C515C;